.contact-section{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    align-items: end;
}

.top-btn {
    display: flex;
    gap: 32px;

}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 20px;
}

.contact-form form {
    display: flex;
    padding-bottom: 20px;
    gap: 20px;
    flex-direction: column;
}
.form-controller {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.form-controller input{
    height: 40px;
    padding: 0 8px;
}

.form-controller textarea{
    padding: 8px;
}

.form-controller label{
    font-size: 14px;
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0 8px;
    
}

.submit-btn{
    display: flex;
    justify-content: end;
}